@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1, h2, h3, h4 {
  margin: 0;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: "Livvic", serif;
  background-color: #014E56;
}

.container {
  max-width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
}

.hero {
  padding-top: 80px;
}

.hero__block {
  padding-bottom: 197px;
  background-repeat: no-repeat;
  background-image: url("../images/hero_bg.svg");
  background-position: center bottom;
}

.hero__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  color: #FFFFFF;
  margin-bottom: 24px;
  text-align: center;
  max-width: 240px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 18px;
}

.hero__text {
  font-weight: 700;
  font-size: 16px;
  line-height: 187%;
  color: #FFFFFF;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 768px) {
  .hero__title {
    font-size: 64px;
    line-height: 87%;
    max-width: 375px;
    margin-bottom: 24px;
  }
  .hero__text {
    font-size: 14px;
    max-width: 100%;
  }
  .hero {
    padding-top: 112px;
  }
  .hero__block {
    padding-bottom: 256px;
  }
}
@media screen and (min-width: 1110px) {
  .hero {
    text-align: start;
  }
  .hero__title {
    margin: 0;
    font-size: 100px;
    max-width: 100%;
    margin-bottom: 24px;
  }
  .hero__text {
    margin: 0;
  }
  .hero__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-position: right bottom;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
  }
}
.build {
  background-color: #012f34;
  padding-top: 100px;
  padding-bottom: 64px;
  background-repeat: no-repeat;
  background-image: url("../../../images/build_bg.svg");
  background-position: right top;
}

.build__title {
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  color: #fff;
  max-width: 240px;
  margin-bottom: 56px;
}

.build__img {
  margin-bottom: 16px;
}

.build__list__item:not(:last-child) {
  margin-bottom: 48px;
}

.build__list__item {
  text-align: center;
}

.build__list__item__text {
  font-weight: 600;
  font-size: 15px;
  line-height: 167%;
  text-align: start;
  color: #fff;
}

.build__list__item__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 156%;
  text-align: start;
  color: #f67e7e;
}

.build__block {
  max-width: 573px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .build__list__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: start;
    gap: 23px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .build__title {
    max-width: 445px;
    font-size: 48px;
  }
}
@media screen and (min-width: 1110px) {
  .build__block {
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .build__list {
    max-width: 540px;
  }
  .build {
    padding-top: 198px;
    padding-bottom: 140px;
    background-position: right bottom;
  }
}
.deliver {
  background-image: url("../images/deliver_bg.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.deliver__big {
  padding-top: 140px;
  padding-bottom: 164px;
  background-image: url("../images/deliver_bg_bottom.svg");
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

.deliver__title {
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  margin: 0 0 84px;
}

.deliver__span {
  color: #79c8c7;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}

.deliver__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 84px;
}

.deliver__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 78px;
  position: relative;
  max-width: 327px;
}

.deliver__text {
  color: #fff;
  text-align: center;
  font-size: 10px;
  font-weight: 600;
  line-height: 25px;
  margin: 0 0 16px;
  position: relative;
  z-index: 1;
}

.deliver__text::before {
  content: "";
  width: 67px;
  height: 56px;
  background-image: url("../images/deliver_tirnoq.svg");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: -36px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: -1;
}

.deliver__small-title {
  color: #79c8c7;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  margin: 0 0 2px;
}

.deliver__bold {
  display: inline-block;
  color: #fff;
  text-align: center;
  font-size: 13px;
  font-style: italic;
  font-weight: 500;
  line-height: 18px;
}

.deliver__item::after {
  content: "";
  width: 66px;
  height: 66px;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
}

.deliver__item:nth-child(1)::after {
  background-image: url("../images/deliv_kaddy.svg");
}

.deliver__item:nth-child(2)::after {
  background-image: url("../images/deliver_aysha.svg");
}

.deliver__item:nth-child(3)::after {
  background-image: url("../images/deliver_artue.svg");
}

/* Mobil ekran uchun */
@media only screen and (min-width: 350px) {
  .deliver__title {
    font-size: 32px;
  }
  .deliver__big-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .deliver__span {
    font-size: 32px;
  }
  .deliver__text {
    font-size: 15px;
  }
  .deliver__item {
    max-width: 327px;
  }
  .deliver__box {
    max-width: 440px;
  }
}
/* Planshetlar uchun */
@media only screen and (min-width: 768px) {
  .deliver__big {
    padding-top: 100px;
    padding-bottom: 100px;
    background: none; /* Eski fonni tozalash */
    background-image: url("../images/deltwobg.svg");
    background-repeat: no-repeat;
    background-position: 100% calc(100% + 100px);
  }
  .deliver__box {
    max-width: 573px;
  }
  .deliver__item {
    max-width: 573px;
  }
}
/* Katta ekranlar uchun */
@media only screen and (min-width: 1100px) {
  .deliver__big {
    padding-top: 140px;
    padding-bottom: 151px;
  }
  .deliver__title {
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    margin-bottom: 92px;
  }
  .deliver__span {
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
  }
  .deliver__text {
    margin-bottom: 24px;
  }
  .deliver__box {
    max-width: 932px;
  }
  .deliver__list {
    max-width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
  }
  .deliver__item {
    max-width: 350px;
  }
}
.main-header {
  padding-top: 48px;
}

/* Mobil menyu tugmasi (faqat kichik ekranlar uchun) */
.main-header__menu {
  width: 20px;
  height: 17px;
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
  background-image: url("../images/burger_menu.svg");
  background-size: contain; /* Rasmning to‘liq chiqishini ta’minlaydi */
}

/* Header bloklari joylashuvi */
.main-header__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* Navigatsiya menyusi (standart holatda yashirilgan) */
.main-header__nav {
  display: none; /* Mobilda menyu yashiriladi */
  gap: 48px;
}

/* Navigatsiya menyusi elementlari */
.main-header__nav-item {
  font-weight: 600;
  font-size: 18px;
  line-height: 156%;
  color: #FFFFFF;
}

/* Tugma dizayni */
.main-header__btn {
  font-weight: 600;
  font-size: 18px;
  line-height: 156%;
  color: #FFFFFF;
  border: 2px solid #FFFFFF;
  border-radius: 24px;
  padding: 10px 32px;
  background-color: transparent;
  display: none; /* Mobilda tugma yashiriladi */
}

/* Katta ekranlar uchun (768px dan boshlab) */
@media screen and (min-width: 768px) {
  .main-header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 40px;
  }
  .main-header__btn {
    display: inline-block;
  }
  .main-header__menu {
    display: none; /* Katta ekranda burger menyu yashiriladi */
  }
}/*# sourceMappingURL=main.css.map */