html{
    box-sizing: border-box;
}
*, 
*::before,
*::after{
    box-sizing: inherit;
}
h1,h2,h3,h4{
    margin: 0;
}
ul,ol{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
body{
    font-family: "Livvic", serif;
    background-color:#014E56;
}
.container{
    max-width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 24px;
    padding-right: 24px;
}

