@mixin list-unstyled {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

@mixin flexbox ($direction:column, $justify:space-between, $align:center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin link-unstyled {
  text-decoration-line: none;
}

@mixin transition ($property) {
  transition: $property 0.3s linear;
}