:root {
  --main-text-font-size: 15px;
  --main-title-font-size: 32px;
  --main-services-title-font-size: 18px;
  --main-text-line-height: 25px;
  --main-hero-text-line-height: 28px;
  --main-title-line-height: 32px;
  --main-text-font-weight: 600;
  --main-title-font-weight: 700;
  --main-text-color: #fff;
  --main-hero-background-color: #014e56;
  --main-services-background-color: #012f34;
  --main-started-background-color: #f67e7e;
  --main-footer-background-color: #002529;
  --main-teams-background-color: #004047;
  --main-button-background-color: #79c8c7;
}