* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;

}

.hero__block {
  display: flex;
  justify-content: space-between;
}

.service_block {
  display: flex;
  justify-content: space-between;
}