.ready {
    padding-top: 83px;
    padding-bottom: 83px;
    background-repeat: no-repeat;

}



.ready__box {
    display: flex;
    align-items: center;
    background-color: #fff;
    justify-content: space-around;
}


// .ready__title {
//     text-align: center;
//     font-size: 32px;
//     font-style: normal;
//     font-weight: 700;
//     line-height: 32px; 
//     margin-top: 0;
//     margin-bottom: 24px;
// }



