.hero__content {
    display: flex;
    align-items: center;
    gap: 50px;
} 
.hero {
    padding-top: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 108px;
  }
  
.hero__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 117%;
    color: #000;
    margin-bottom: 25px;
  }
  
.hero__text {
    font-weight: 300;
    font-size: 21px;
    line-height: 152%;
    color: #7d7987;
    margin-bottom: 43px;
  }
  
.line {
  border-top: 2px solid black; 
  width: 50px; 
  margin: 20px 0; 
}